*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-1:#ff3535;
    --color-2:#ffcaca;
    --color-header:#505050;
    --color-fondo:#000000;
    --color-texto-1:#ffffff;
    --color-texto-2:#ffd000;
    --color-texto-2:#ff3535;
    
}
body{
    font-family: 'Titillium Web', sans-serif;
}
.main{
    width: 100%;
}
.container-section-1{
  background-image:url("../imagenes/banner.png") ;
  height: calc(100%) right; 
}
.header.icon{
    display: block;
font-size: small;
    width: 1px;
    height: 1px;
}
@media only screen {
    
}
.main-recomendaciones{
    background-image: url("./imagenes/Chilaquiles.jpg");
}
.desayuno-1{
    justify-items: center;
    width: 50px;
}
.desayuno-2{
    justify-items: center;
    width: 50px;
}
.bebidas-1{
    justify-items: center;
    width: 70px;
    padding: 50px;
}
.carousel-item{
    padding: auto;
    white-space: ;
r
}